include LICENSE
include README.md
include .githooks/commit-msg
recursive-include .github *.md *.py *.yml
recursive-include docs *.md *.png
include examples/mocop.example.json
recursive-include tests *.mjs *.py
